*{
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* -------------------pag1------------------ */

.page1 {
  height: 100%;
  background-color: rgb(20, 58, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 7%;
  color: white;
  background-color: rgb(0, 0, 0,.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}
.heading {
  display: flex;
}
.heading img {
  height: 50px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(24, 29, 34); */
  width: 50%;
}
.navhead {
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  width: 35%;
}
.login {
  /* /* width: 100px; */
  gap: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  /* background-color: rgb(65, 116, 49); */
  position: absolute;
  right: 1%;
}
/* ________________________page1left_________________________________ */
.page1left {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
}
.page1textleft {
  /* background-color: aqua; */
  width: 70%;
  font-size: 1.2rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: space-around; */
  color: white;
}
.page1 h2 {
  font-size: 3.5rem;
  /* background-color: antiquewhite; */
}
.page1 p {
  font-weight: 400;
}
.page1right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* background-color: rgb(13, 214, 197); */
}
.page1button {
  height: 30%;
  width: 47%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 15px;
}
.page1button button {
  height: 40px;
  width: 150px;
  border: none;
  /* font-weight:500; */
}
#aboutbutton {
  background-color: rgb(245, 40, 40);
  color: white;
}
/* ________________________page1left_________________________________ */

/* ________________________page1right_________________________________ */
.page1right {
  background-color: rgb(42, 211, 183);
}
.page1right img {
  width: 60%;
}
@media (max-width: 1742px) {
  .navhead {
    /* background-color: aqua; */
    flex-grow: 0.2;
  }
  .page5 {
    font-size: 1.5rem !important;
  }
  .page5 h3 {
    font-size: 2rem !important;
  }
  .page5right img {
    width: 800px !important;
    /* height: 400px; */
  }
  header{
    height: 8%;
  }
}
@media (max-width: 1198px) {
  .navhead {
    /* background-color: aqua; */
    width: 500px;
    /* gap:1px; */
    position: absolute;
    top: 1%;
    flex-direction: column;
  }
  .login{
    position: absolute;
    bottom: 0%;
  }
}
@media (max-width: 826px) {
  .page1 {
    flex-direction: column-reverse;
  }
  .page1left,
  .page1right {
    width: 100%;
  }
}
@media (max-width: 798px) {
  .page1 h2 {
    font-size: 1rem;
  }
  .page4 h1 {
    font-size: 1.5rem !important ;
    /* background-color: antiquewhite; */
  }
  .page4 p {
    font-size: 1rem !important;
    /* background-color: antiquewhite; */
  }
  .page4 button {
    height: 40px !important;
    width: 120px !important;
    font-size: 1rem !important;
  }
  .page4 img {
    width: 300px !important;
    height: 200px !important;
    /* background-color: antiquewhite; */
  }
  .page5right img {
    width: 180% !important;
  }
}
@media (max-width: 320px) {
  .page4 p {
    font-size: 0.8rem !important;
  }
  .page4 h1 {
    font-size: 0.9rem !important;
  }
  .page4 button {
    height: 30px !important;
    width: 80px !important;
    font-size: 0.8rem !important;
  }
}
@media (max-width: 412px) {
  nav {
    width: 60%;
    /* background-color: antiquewhite; */
  }
  /* .navhead {
    background-color: blue;
  } */
  .page5left {
    align-items: flex-start !important;
    /* height: 60% !important; */
   
  }
    .sub {
    gap: 1% !important;
    /* background-color: aqua; */
   
  }
  .login{
    bottom:45%;
  }
 
}
@media (max-width: 1234px) {
  .page5 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }
  .page5left {
    width: 100% !important;
    height: 60% !important;
    /* background-color: antiquewhite; */
  }
  .page5right{
    height: 40%;
  }
  .page5right img{
    height: 100% !important;
  }
  .sub {
    gap: 5%;
  }
}
/* --------------------------page1---------------------------- */
/* --------------------------page2---------------------------- */
.page2 {
  height: 80%;
  width: 100%;
  /* background-color: rgb(190, 47, 47); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2left {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2right {
  /* background-color: aqua; */
  height: 60%;
  width: 50%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  font-size: large;
  font-weight: 500;
  line-height: 2;
}

.page2right h3 {
  font-size: 2.7rem;
}
.page2left img {
  width: 70%;
  /* height: 65%; */
}
/* .page2right button{
  
  height: 40px;
  width: 250px;
} */
.page2button {
  height: 30%;
  width: 47%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 15px;
}
.page2button button {
  height: 40px;
  width: 150px;
  border: none;
  color: white;
  background-color: rgb(4, 4, 48);
}
#readmore {
  background-color: rgb(245, 40, 40);
  color: white;
}

@media (max-width: 324px) {
  .page2right h3 {
    font-size: 0.9rem !important;
  }
  .page2right p {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 814px) {
  .page2right p {
    font-size: 1rem !important;
  }
  .page2 {
    height: 100%;
    flex-direction: column;
    width: 100%;
    /* justify-content: center;
    align-items: center; */

    /* background-color: rgb(5, 226, 123); */
  }
  .page2right {
    height: 50%;
    width: 100% !important;
    /* background-color: rgb(100, 74, 40); */
    margin: 0% !important;
    margin-right: 0% !important;
    align-items: center;
  }
  .page2right p {
    width: 95% !important;
  }
  .page2right h3 {
    width: 95% !important;
  }
  .page2 h3 {
    font-size: 1.5rem !important ;
  }
  .page2left {
    height: 50% !important;
    width: 100% !important;
    /* background-color: rgb(165, 105, 25); */
  }
  .page2 img {
    width: 300px !important;
    height: 200px;
  }
}
/* --------------------page3--------------- */
.page3 {
  height: 75%;
  background-color: rgb(10, 202, 186);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
.page3topimg {
  width: 80%;

  display: flex;
  justify-content: space-around;
  /* background-color: antiquewhite; */
}
.page3bottomimg {
  width: 80%;

  display: flex;
  justify-content: space-around;
  /* background-color: antiquewhite; */
}
.page3 img {
  width: 80px;
  height: 70px;
}
.page3 p {
  font-weight: 400;
  font-size: 1.2rem;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (max-width: 578px) {
  .subcontent h3 {
    font-size: 1.5rem !important;
  }

  .subcontent {
    /* display: flex; */
    gap: 10% !important;
  }

  .page3 {
    justify-content: flex-start;
    position: relative;
  }
  .page3 p {
    font-size: 1rem;
  }
  .page3topimg {
    height: 40%;
    /* background-color: aqua; */
    position: absolute;
    top: 9%;
    /* gap: 5px; */
    /* z-index: 1; */
  }
  .page3bottomimg {
    height: 40%;
    /* background-color: rgb(208, 236, 236); */
    position: absolute;
    top: 58%;
    /* z-index: 5; */
  }

  .page3topimg,
  .page3bottomimg {
    flex-direction: column;
  }
  .page3 img {
    width: 45px;
    height: 35px;
  }
}
/* ----------------------------page4 ------------------------------------------- */

.page4 {
  height: 100%;
  /* background-color: rgb(170, 48, 48); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: large;
  font-weight: 500;
}
.page4 h1 {
  /* display: flex; */
  font-size: 2.7rem;
  gap: 20px;
  /* background-color: antiquewhite; */
}
.page4 p {
  max-width: 70%;
  /* font-size: 1.6rem;
  font-weight: 500; */
  line-height: 2;
}
.page4 button {
  height: 50px;
  width: 160px;
  border: none;
  background-color: rgb(245, 40, 40);
  color: white;
  font-size: 1.2rem;
}
.page4 img {
  width: 40%;
}
/* ----------------------------------------------page5--------------------------------- */
.page5 {
  height: 100%;
  /* background-color: rgb(199, 129, 38); */
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}
.page5 h1{
  font-size: 2.3rem;
  font-weight: 800;
}
.page5 h3 {
  font-size:1.8rem;
}
.page5 h5 {
  color: rgb(245, 40, 40);
}
.page5left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(87, 126, 126); */
}
.page5right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.sub {
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  height: 100%;
  width: 70%;
  /* flex-wrap: wrap; */
  align-items:start;
  justify-content: center;
}
.subcontent {
  display: flex;
  gap: 5%;
  align-items: center;
  /* background-color: aqua; */
  /* width: 100%; */
  width: 100%;
  
  height: 15%;

  /* background-color: aqua; */
}
.p5img {
  width: 70px;
  height: 70px;
  /* padding: 10px; */
  background-color: rgb(15, 15, 12);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5img1 {
  background-color: rgb(25, 189, 134);
  color: black;
}
.subcontent img {
  /* background-color: rgb(31, 109, 83); */

  width: 50px;
  height: 50px;
}

/* font-size: .1rem !important; */
.page5right img {
  width: 80%;
  height: auto;
}

.page6 {
  height: 60%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
}
.page6 h1 {
  font-size: 2.7rem;
  /* font-weight:800; */
}
.page6 h3{
  font-size: 2.7rem;
}
.page6card {
  position: relative;
  padding-top: 1%;
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 60%;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  gap: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.page6card p{
  font-size: 1.3rem;
  font-weight: 300;
  width: 75%;
  
}
.fa-quote-left{
   font-size:2.2rem;
}

.page7 {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.r{
  background-color: rgb(17, 112, 112) ;
  /* z-index: 10; */
  position: absolute;
  left: 97%;
}
  .l{
  background-color: rgb(17, 112, 112) ;
  /* z-index: 10; */
  position: absolute;
  right: 97%;

}
.r,.l{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}
@media (max-width:1409px){
  .page6{
    gap: 1%;
  }
    .page6card p{
  font-size: 1rem;
  width: 80%;
  
}
.r,.l{
  width: 40px;
  height: 40px;
}
 .page6card h3{
  font-size: 2rem;
 }
 .page6 h1{
  font-size:2rem ;
 }
 .page6card{
  padding: 0%;
 }

}
@media (max-width:792px){
    .page6card {
      gap: 6%;
  
  width: 90%;
  height: 75%;
  
}
.r{
  left: 90%;
}
.l{
  right: 90%;
}
}
        /* --------------------------------page 7 starts here----------------------------------------------- */
      .page7 {
        height: 85%;
        background-color: rgb(7, 42, 53);
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .division{
        height: 100%;
        width: 80%;
      }
      .page7sec1{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .sec1div1{
        display: flex;
        height: 100%;
        width: 50%;
        align-items:flex-end;
        font-size: 8mm;
        color: aliceblue;
        img{
          height: 40%;
          width: 10%;
        }
      }
      .sec1div2{
        display: flex;
        justify-content:end;
        align-items: flex-end;
        height: 100%;
        width: 50%;
        gap: 5%;
        font-size: 7mm;
        color: aliceblue;
      }
      .page7sec2{
        height: 60%;
        width: 100%;
        display: flex;
        color: aliceblue;
        h4{
          margin-top: 25%;
          margin-bottom: 10%;
        }
      }
      .sec2div1{
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        a{
          text-decoration: none;
          color: aliceblue;
        }

      }
      .sec2div2{
        height: 100%;
        width: 25%;
      }
      .sec2div3{
        height: 100%;
        width: 25%;
      }
      .sec2div4{
        height: 100%;
        width: 25%;
      }
      form{
        height: 30%;
        display: flex;
        flex-direction: column;
        gap: 8%;
        input{
          height: 30%;
          border: 0;
        }
        button{
          height: 30%;
          width: 60%;
          border: solid white;
          background-color: rgb(175, 33, 33);
          color: aliceblue;
          cursor: pointer;
        }
      }
      .page7sec3{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        color: aliceblue;
        a{
          text-decoration: none;
          color: aliceblue;
        }
      }
      /* -----------------------------------------------page 7 media query----------------------------------- */
      @media(max-width:760px){
        .page7sec1{
          h3{
            font-size: 7mm;
          }
          i{
            font-size: 6mm;
          }
        }
        .page7sec2{
          h4{
            font-size: 4mm;
          }
          p{
          font-size: 3.5mm;
          }
          button{
            font-size: 3mm;
          }
        }
      }
      @media(max-width:655px){
        .page7sec2{
          button{
            font-size: 2mm;
          }
        }
        .page7sec3{
          h5{
            font-size: 3mm;
          }
        }
      }
      @media(max-width:550px){
        .page7sec1{
          height: 10%;
          h3{
            font-size: 6mm;
          }
          i{
            font-size: 5mm;
          }
        }
        .page7sec2{
          height: 70%;
          flex-wrap: wrap;
          h4{
          margin-top: 20%;
          margin-bottom: 3%;
        }
        }
      .sec2div1,.sec2div2,.sec2div3,.sec2div4{
        height: 50%;
        width: 50%;
        button{
          height: 40%;
        }
        input{
          height: 35%;
        }
      }
    }
    @media(max-width:471px){
      .page7sec2{
        height: 75%;
      }
      .page7sec3{
        height: 15%;
      flex-wrap: wrap;
      justify-content: center;
      i{
        width: 40%;
        text-align: center;
      }
      h5{
        width: 50%;
      }
      }
      .page7sec2{
          h4{
            font-size: 3mm;
          }
          p{
          font-size: 3mm;
          }
          a{
            font-size:3mm ;
          }         
        }
        .page7sec1{
          h3{
            font-size: 5mm;
          }
          i{
            font-size: 4.5mm;
          }
        }
    }
    /* ---------------------------------------------------------THE END-------------------------------------------------------- */